@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.root {
  z-index: 55;
  position: absolute;
  max-width: 24vw;
  top: 5vh;
  left: 8vw;
  animation: appear ease 1.5s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
}

.tag-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-bottom: 1.3vh;
}

.tag {
  color: silver;
  font-size: 1.1rem;
  flex-shrink: 0;
  letter-spacing: 1px;
  margin-right: 0.2rem;
}
.title {
  width: 100%;
  font-size: 5rem;
  padding: 5vh 0;
  color: #fff;
  z-index: 35;
  word-break: keep-all;
}
.description {
  width: 100%;
  max-height: 60vh;
  word-break: break-all;
  font-size: 1.4rem;
  line-height: 2.5rem;
  white-space: pre-line;
  letter-spacing: 0.5px;
  color: #fff;
  overflow: scroll;
}

@media screen and (max-width: 1370px) {
  .root {
    max-width: 20vw;
  }
  .title {
    font-size: 3rem;
  }
  .tag {
    font-size: 1rem;
  }
  .description {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .root {
    max-width: 20vw;
  }
  .title {
    font-size: 1.5rem;
  }
  .tag {
    font-size: 0.9rem;
  }
  .description {
    font-size: 1rem;
  }
}
