.home {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
}

.cursor {
  width: 0rem;
  height: 0rem;
  left: -9999px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  will-change: top, left;
  border-bottom: calc(1rem * 1.732) solid #fff;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  transform-origin: 50% 66.6%;
  transform: translate(-50%, -66.6%) rotate(-30deg);
  mix-blend-mode: difference;
}

.text {
  left: -9999px;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50%, -50%);
  color: transparent;
}

.text-hover {
  /* font-weight: bold; */
  background-color: white;
  background-clip: text;
  mix-blend-mode: difference;
  -webkit-background-clip: text;
}

.svg {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}
@keyframes scale {
  to {
    border-bottom-width: calc(2rem * 1.732);
    border-left-width: 2rem;
    border-right-width: 2rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(-30deg);
  }

  to {
    transform: rotate(-390deg);
  }
}

@keyframes leave {
  from {
    transform: scale(4);
  }

  to {
    transform: scale(1);
  }
}
.hover {
  animation: scale 0.3s ease forwards, spin 10s linear infinite;
}
.leave {
  animation: leave 0.3s ease forwards;
}
